.App {
    margin: 0px;
  }
  
  .table-container {
    display: flex;
    margin-top: 0px;
  }
  
  .scrollable-table-container {
    width: 60%;
    height: 220px;
    border: 1px solid #ddd;
  }
  .scrollable-table-container2 {
    width: 40%;
    height: 200px;
    max-width: 100%;
    border: 1px solid #ddd;
  }
  .scrollable-table-container1 {
    width: 70%;
    border: 1px solid #ddd;
  }
  @media screen and (min-width: 1024px) {
    .scrollable-table-container {
        height: 400px;
    }
    
    .scrollable-table-container2 {
        height: 400px;
    }
}
  .ant-table {
    table-layout: fixed; /* Ensure fixed table layout for proper alignment */
  }
  
  .custom-input {
    margin-left: 1px;
    width: 70px;
    text-align: center;
  }
  .keyboard {
    display: none; /* Hide by default */
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
  }
  
  .keyboard div {
    width: 100%;
    height: 40px;
    font-size:xx-large;
    font-weight: bold;
    margin: 3px;
    margin-bottom: 8px;
    border-radius: 20px;
    /* border: 2 solid #000000 ; */
    border-style: solid;
    border-width: 1;
    /* border-color: #000000 !important; */
    background-color: #ffffff;
    border-width: 2px;
    text-align: center;
    display: flex;
    align-items: center; /* Centers the text vertically */
    justify-content: center; /* Centers the text horizontally */
    flex: 1 0 20%; /* Each button takes up 20% of the row */
  }
  
  
  @media (max-width: 768px) {
    .keyboard {
      display: flex; /* Show on mobile screens */
      flex-wrap: wrap;
    }
  }
  
  @media (min-width: 768px) {
    .back {
      display: none; /* Show on mobile screens */
    }
    
  }
  .dark-theme .ant-table {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .dark-theme .ant-table-thead > tr > th {
    background-color: #2a2a2a;
    color: #ffffff;
  }
  
  .dark-theme .ant-table-tbody > tr > td {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .dark-theme .ant-table-bordered .ant-table-container {
    border: 1px solid #444444;
  }
  
  .dark-theme .ant-table-bordered .ant-table-cell {
    border-right: 1px solid #444444;
  }
  
  .dark-theme .ant-table-bordered .ant-table-thead > tr > th,
  .dark-theme .ant-table-bordered .ant-table-tbody > tr > td {
    border-bottom: 1px solid #444444;
  }
  
  .dark-theme .ant-table-tbody > tr:hover > td {
    background-color: #444444;
    color: #000000;
  }
  
  .dark-theme .ant-table-pagination {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .dark-theme .ant-pagination-item-active {
    border-color: #444444;
  }
  
  .dark-theme .ant-pagination-item-active a {
    color: #ffffff;
  }
  
  .dark-theme .ant-pagination-item a {
    color: #ffffff;
  }
  
  .no-select {
    user-select: none;
    -webkit-user-select: none; /* For iOS Safari */
    -moz-user-select: none;    /* For Firefox */
    -ms-user-select: none;     /* For Internet Explorer/Edge */
  }
  
  .no-context-menu {
    -webkit-touch-callout: none; /* Disable callout menu on iOS */
  }
  .keyboard1 {
    display: none; /* Hide by default */
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
  }
  
  .keyboard1 div {
    width: 60px;
    height: 40px;
    margin: 3px;
    border-radius: 0px;
    border-width: 2;
    background-color: #ffffff;
    border-width: 2px;
    text-align: center;
    display: flex;
    align-items: center; /* Centers the text vertically */
    justify-content: center; /* Centers the text horizontally */
    flex: 1 0 20%; /* Each button takes up 20% of the row */
  }
  
  
  @media (max-width: 768px) {
    .keyboard1 {
      display: flex; /* Show on mobile screens */
      flex-wrap: wrap;
    }
  }
  .black-border-focus:focus {
    border-color: black !important; /* Changes the focus border color to black */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow effect with black color */
  }
  /* Custom styles for the success message */
.custom-success-message {
  background-color: green;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  width: 300px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none; /* Hidden by default */
}

.custom-success-message.show {
  display: block; /* Show when the message is triggered */
}
.custom-error-message {
  background-color: red;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  width: 300px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none; /* Hidden by default */
}

.custom-error-message.show {
  display: block; /* Show when the message is triggered */
}
.custom-select .ant-select-selection-placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .laptop-large-font {
    font-size: 18px !important;
  }
}